body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #705f3946;
}

.container {
    text-align: center;
    background: rgb(41, 6, 6);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(209, 41, 41, 0.1);
}

audio {
    margin: 20px 0;
    width: 100%;
}
